---
import assert from "assert";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import FAQ from "../components/FAQ";
import WhyChooseUsImage from "../images/car-red.png";
import NetLeft from "../images/net-left.png";
import NetShape from "../images/net-shape.png";
import MainLayout from "../layouts/MainLayout.astro";

import filterObjectByKeysContaining from "../utils/filterObjectByKeysContaining";
const allInventoryListings = await getCollection("inventory");

const featuredListings = allInventoryListings.filter((listing) =>
  [1, 2, 3].includes(listing.data.metadata.rank)
);

const cardImagesDir = "../images/car-cards";

const cardImages = import.meta.glob<{ default: ImageMetadata }>(
  `../images/car-cards/*.png`
);

const featuredCardImages = filterObjectByKeysContaining(
  cardImages,
  featuredListings.map((listing) => listing.id)
);

const createFeaturedCardImageUrl = (listingId: string) => {
  return `${cardImagesDir}/${listingId}.png`;
};

console.log(featuredCardImages);

const metadataList = await Astro.glob("../metadata.json");
assert(metadataList.length === 1);
const metadata = metadataList[0];
const turoReviewUrl =
  "https://turo.com/au/en/drivers/29391881#:~:text=4.96,(90%20reviews)";
---

<MainLayout>
<div slot="body-content" class="main-wrapper">
  <section class="dealership-hero position-relative overflow-hidden">
    <div class="swiper at-hero-slider-wrapper" data-speed="900">
        <div class="swiper-wrapper">
          {
            featuredListings.map((listing) => {
              const listingDetail = listing.data.data;
              const { name, description, features } = listingDetail;

              const listingUrl = `/listings/${listing.id}`;

              const threeFeatures = features.slice(0, 3);

              const featuredCardImageUrl = createFeaturedCardImageUrl(
                listing.id
              );

              return (
                <div class="swiper-slide">
                  <div class="dl-hero-single">
                    <div class="container">
                      <div class="at_hero_slider">
                        <div class="row">
                          <div class="col-xl-7">
                            <div class="at-hero-title">
                              <span class="at-subtitle text-primary position-relative fw-bold">
                                {metadata["shortBusinessName"]}
                              </span>
                              <h1 class="text-white mb-4 mt-3 display-4">
                                {name}
                              </h1>
                              <p class="mb-30">{description.split("\n")[0]}</p>
                              <ul class="car-info mt-3 mb-30 fs-md fw-500">
                                {threeFeatures.map((feature) => {
                                  return (
                                    <li class="pt-1">
                                      <span class="me-2">
                                        <i class="fa-regular fa-circle-check" />
                                      </span>
                                      {feature}
                                    </li>
                                  );
                                })}
                              </ul>
                              <a href={`${listingUrl}`} class="at-explore-btn">
                                <span class="me-2">
                                  <svg
                                    width="49"
                                    height="28"
                                    viewBox="0 0 49 28"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M42.5 9L47.715 14.1189M47.715 14.1189L42.5 19.3339M47.715 14.1189H19.5"
                                      stroke="#FC0012"
                                      stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                    />
                                    <rect
                                      x="1"
                                      y="1"
                                      width="32"
                                      height="26"
                                      rx="13"
                                      stroke="#FC0012"
                                      stroke-width="2"
                                    />
                                  </svg>
                                </span>
                                Explore More
                              </a>
                            </div>
                          </div>
                          <div class="col-xl-5">
                            <div class="at-hero-banner position-relative mt-4 mt-sm-0 right-5">
                              <Picture
                                loading="eager"
                                src={featuredCardImages[featuredCardImageUrl]()}
                                alt="car"
                                formats={["avif", "webp"]}
                                class="at_hero_car"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              );
            })
          }
          <div class="swiper-pagination"></div>
        </div>
        <!--hero section end-->

        <!--latest collection start-->
        <section class="latest-collection pb-120">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="at-section-title text-center text-lg-start">
                  <span class="at-subtitle position-relative lead text-primary"
                    >Luxury Car Rentals</span
                  >
                  <h2 class="h1 mt-2 mb-0">Select from our finest choices</h2>
                </div>
              </div>
              <div class="col-lg-6 align-self-end">
                <div
                  class="collection-filter-controls d-flex align-items-center justify-content-center justify-content-lg-end flex-wrap mt-5 mt-lg-0"
                >
                  <button class="at-filter-btn active" data-filter="*"
                    >Our Fleet</button
                  >
                  <!-- <button class="at-filter-btn" data-filter=".featured"
                >Featured</button
              >
              <button class="at-filter-btn" data-filter=".popular"
                >Popular</button
              > -->
                </div>
              </div>
            </div>
            <div class="filter-items-wrapper mt-5">
              <div class="row g-4 justify-content-center filter-grid">
                {
                  allInventoryListings.map((listing) => (
                    <Card listing={listing} />
                  ))
                }
              </div>
            </div>
          </div>
        </section>
      </div>
  </section>

  <div class="filter-items-wrapper mt-5">
    <div class="row g-4 justify-content-center filter-grid">
      {allInventoryListings.map((listing) => (
        <Card listing={listing} />
      ))}
    </div>
  </div>
</div>;


</MainLayout>
