---
import { Picture } from "astro:assets";
import { type CollectionEntry } from "astro:content";
interface Props {
  listing: CollectionEntry<"inventory">;
}

const { listing } = Astro.props;

const listingDetail = listing.data;

const {
  name,
  drive,
  seats,
  doors,
  fuelUsage,
  fuelType,
  year,
  pricePerWeek,
  transmission,
  cc,
  shortName,
  shortFuelType,
  cardImageUrl,
} = listingDetail;

const listingUrl = "/";
---

<div
  class="filter-card-item position-relative overflow-hidden rounded bg-white swiper-slide"
>
  <a href="#" class="icon-btn compare-btn position-absolute"
    ><i class="fa-solid fa-compress"></i></a
  >
  <a href="#" class="icon-btn wish-btn position-absolute"
    ><i class="fa-solid fa-heart"></i></a
  >
  <span class="date position-absolute">{year}</span>
  <div class="feature-thumb position-relative overflow-hidden">
    <a href={listingUrl}
      ><Picture
        loading="eager"
        formats={["avif", "webp"]}
        src={cardImageUrl}
        alt="car"
        width={300}
        height={160}
        style={{
          objectFit: "cover",
          minWidth: "100%",
          minHeight: "auto",
        }}
      /></a
    >
  </div>
  <div class="filter-card-content">
    <div class="price-btn text-end position-relative">
      <span class="small-btn-meta">{pricePerWeek}/day</span>
    </div>
    <a href={listingUrl} class="mt-4 d-block">
      <h5>{shortName ?? name} {year}</h5>
    </a>
    <span class="meta-content"
      ><strong>Drive Type:</strong>
      <a href="#">{drive}</a></span
    >
    <div class="mt-2"></div>
    <div class="card-feature-box d-flex align-items-center mb-4">
      <div class="icon-box d-flex align-items-center text-capitalize">
        <span class="me-2"><i class="flaticon-speedometer"></i></span>
        {cc}cc
      </div>
      <div class="icon-box d-flex align-items-center text-capitalize">
        <span class="me-2"><i class="flaticon-steering-wheel"></i></span>
        {transmission}
      </div>
      <div class="icon-box d-flex align-items-center text-capitalize">
        <span class="me-2"><i class="flaticon-petrol"></i></span>
        {shortFuelType ?? fuelType}
      </div>
    </div>
    <a href={listingUrl} class="btn outline-btn btn-sm d-block">View Details</a>
  </div>
</div>
