---
import { type CollectionEntry } from "astro:content";
import Description from "../components/Description";
import EmailForm from "../components/EmailForm";
import Features from "../components/Features";
import MightAlsoLikeCard from "../components/MightAlsoLikeCard.astro";
import TirePrintLeft from "../images/tire-print-left.png";
import TirePrintRight from "../images/tire-print-right.png";
import filterObjectByKeysContaining from "../utils/filterObjectByKeysContaining";
import MainLayout from "./MainLayout.astro";

const putLastFirst = (arr: any[]) => {
  const lastElement = arr[arr.length - 1];
  return [lastElement, ...arr.slice(0, -1)];
};
interface Props {
  listing: CollectionEntry<"inventory">;
}

const { listing } = Astro.props;

const listingDetail = listing.data.data;

const {
  name,
  drive,
  seats,
  doors,
  fuelUsage,
  fuelType,
  year,
  pricePerDay,
  transmission,
  cc,
  shortName,
  shortFuelType,
  features,
  description,
  listingImages,
} = listingDetail;

import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

const allInventoryListings = await getCollection("inventory");

const cardImages = import.meta.glob<{ default: ImageMetadata }>(
  `../images/listing/**/*.{webp,jpg}`
);

// console.log(cardImages);

const filteredCardImagesObject = filterObjectByKeysContaining(cardImages, [
  listing.id,
]);

const filteredCardImages = Object.values(filteredCardImagesObject);

const inProperOrder = putLastFirst(filteredCardImages);

const cleanedCardImages = inProperOrder;

// console.log(filteredCardImages);
---

<MainLayout>
  <div slot="body-content" class="main-wrapper">
    <!--breadcrumb section start-->
    <section
      class="breadcrumb-section position-relative z-2 overflow-hidden mt--75"
    >
      <Picture
        formats={["avif", "webp"]}
        src={TirePrintLeft}
        alt="tire print"
        class="position-absolute start-0 z-1 tire-print"
      />
      <Picture
        formats={["avif", "webp"]}
        src={TirePrintRight}
        alt="tire print"
        class="position-absolute end-0 z-1 tire-print"
      />
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div
              class="breadcrumb-content-wrapper text-center position-relative z-3"
            >
              <h1 class="text-white">{name}</h1>
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item text-white fw-500">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item text-white fw-500">Page</li>
                <li class="breadcrumb-item text-white fw-500">
                  Inventory Details
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--breadcrumb section end-->

    <!--inventory details-->
    <section class="inventory-details-area ptb-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-8">
            <div class="inventory-details">
              <div class="product_details widget-padding bg-white rounded">
                <span class="btn-meta bg-primary text-white">Available</span>
                <h3 class="mt-2">{name}</h3>
                <div class="iv-meta">
                  <span
                    ><i class="fa-solid fa-clock"></i>Listed on: Feb 24 2024</span
                  >
                </div>
                <div class="iv_double_slider mt-30">
                  <div class="iv_thumb_slider swiper">
                    <div class="swiper-wrapper">
                      {
                        cleanedCardImages.map((image) => {
                          console.log(image);
                          return (
                            <div class="swiper-slide thumb-wrapper rounded overflow-hidden">
                              <Picture
                                loading="eager"
                                formats={["avif", "webp"]}
                                src={image()}
                                alt="car"
                                class="img-fluid"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                  </div>
                  <div class="iv_thumb_control_slider swiper mt-3 mt-lg-4">
                    <div class="swiper-wrapper">
                      {
                        cleanedCardImages.map((image) => {
                          return (
                            <div class="swiper-slide rounded overflow-hidden">
                              <Picture
                                loading="eager"
                                formats={["avif", "webp"]}
                                src={image()}
                                alt="car"
                                class="img-fluid"
                              />
                            </div>
                          );
                        })
                      }
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_info bg-white rounded widget-padding mt-30">
                <h4 class="mb-5">Key Information</h4>
                <div class="row g-4">
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-energy"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Transmission</span>
                        <span class="title text-capitalize"
                          >{
                            transmission === "auto" ? "Automatic" : transmission
                          }</span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-engine"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Engine Size</span>
                        <span class="title">{cc} (cc)</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-new-year"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Year</span>
                        <span class="title">{year}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-petrol"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Fuel Type</span>
                        <span class="title text-capitalize">{fuelType}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-drive"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Color</span>
                        <span class="title">Black</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-gas-tank"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Seats</span>
                        <span class="title">{seats}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="iv_info_item d-flex align-items-center">
                      <span
                        class="icon-wrapper d-inline-flex align-items-center justify-content-center border rounded flex-shrink-0"
                      >
                        <i class="flaticon-car-door"></i>
                      </span>
                      <div class="info_content">
                        <span class="meta">Doors</span>
                        <span class="title">{doors} Doors</span>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-40 mb-30" />
                <h4 class="mb-40">About This Listing</h4>
                <!-- Description -->
                <Description client:load description={description} />
                <hr class="mt-30 mb-30" />
                <h4 class="mb-30">Car Features</h4>
                <div class="iv_feature_accordion">
                  <div class="accordion" id="iv_ft_accordion">
                    <div class="accordion-item">
                      <div class="accordion-header">
                        <a
                          href="#features"
                          class="accordion-button"
                          data-bs-toggle="collapse">Features</a
                        >
                      </div>
                      <div
                        class="accordion-collapse collapse show"
                        id="interior"
                        data-bs-parent="#iv_ft_accordion"
                      >
                        <div class="accordion-body">
                          <div class="row">
                            <Features client:load features={features} />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-30 mb-30" />
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="iv_sidebar mt-5 mt-xl-0">
              <div
                class="iv_sidebar_widget iv_pricing_widget widget-padding bg-secondary rounded"
              >
                <h3 class="mb-2 text-white">{pricePerDay}/day</h3>
                <div class="widget_meta d-flex align-items-center">
                  <span class="text-white"
                    ><i class="fa-solid fa-gauge-high"></i>Melbourne, Vic</span
                  >
                  <span class="text-white"
                    ><i class="fa-solid fa-eye"></i>Australia</span
                  >
                </div>
              </div>
              <div
                class="iv_sidebar_widget iv_seller_widget widget-padding bg-white rounded pt-4"
              >
                <h4 class="mb-0">Create a reservation</h4>

                <EmailForm client:only="react" />
                <a
                  href="https://turo.com/au/en/drivers/29391881"
                  class="btn btn-secondary btn-md mt-30">Book now on Turo</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--inventory details end-->

    <!--inventory slider start-->
    <section class="inventory-slider">
      <div class="container overflow-hidden">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-title">
              <h2 class="h1">You May be Interested in</h2>
            </div>
          </div>
        </div>
        <div class="inventroy-slider swiper mt-40 pb-120 overflow-visible">
          <div class="swiper-wrapper">
            {
              allInventoryListings.map((listing) => {
                return <MightAlsoLikeCard listing={listing} />;
              })
            }
          </div>
          <div class="slider-btn-prev swiper-btn">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
          <div class="slider-btn-next swiper-btn">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>
    </section>
    <!--inventory slider end-->
  </div>
</MainLayout>
